node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

*.apk
*.hprof
/android/**/build
/android/**/.cxx
/android/**/local.properties
/android/captures
/android/expoview/libs/ReactAndroid-temp
/android/versioned-react-native/ReactAndroid
/android/versioned-react-native/ReactCommon
/android/versioned-react-native/codegen
/android/versioned-react-native/sdks
ReactAndroid-temp.aar
/android/prebuiltHermes